/* PC */
@media screen and (min-width: 992.98px) {
  .mobile-header {
    display: none;
  }
}
/* Mobile and Tablet */
@media screen and (max-width: 991px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
  .nav__menu {
    display: none;
  }

  .toggle-menu svg {
    margin-left: auto;
    width: 24px;
    color: #333;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    padding: 60px;
    position: fixed;
    inset: 0 0 0 40%;
    background-color: #fff;
    z-index: 2;
    transform: translate(100%);
    transition: 0.5s ease;
  }
  .menu-drawer ul {
    margin-top: 40px;
    font-weight: 500;
  }

  .menu-drawer ul a {
    display: block;
    padding: 15px 0;
    color: #263138;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(0);
  }
  .line {
    border-top: 1px solid #eaeaee;
  }

  .hero__media {
    display: none;
  }
  .hero__info {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .info__title {
    margin-top: 10px;
    font-weight: 500;
  }
  .info__desc {
    margin-top: 10px;
  }
  .hero__info--social {
    display: none;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .close svg {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .menu-drawer {
    position: fixed;
    padding: 30px;
    inset: 0 0 0 0%;
    height: 100%;
  }
  .close {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close svg {
    width: 30px;
    margin-left: 100px;
  }
  .hero__info {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .info__title {
    font-size: 6rem;
  }
  .hero__info--action {
    margin-top: 90px;
  }
}
