* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "sora", sans-serif;
}

/* Common */
.main-content {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #fff;
}

.header.fixed {
  position: sticky;
  top: -10px;
  z-index: 1;
}
.nav {
  padding: 24px 0 24px 0;
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  margin-left: 245px;
}
.nav ul li {
  padding: 16px;
}

.nav ul li a {
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
.nav .action {
  background-color: #000;
  padding: 16px 20px;
  margin-left: auto;
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
}

.nav .action a {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/* Hero */
.hero .body {
  padding-top: 60px;
  display: flex;
}

.hero .body .info {
  position: relative;
  margin-top: 130px;
  width: 46%;
}

.hero .body .media-block {
  width: 54%;
}

.hero .hi {
  color: #000;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.hero .name {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.hero .mayjor {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.hero .dev {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.hero .basein {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.hero .country {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.hero .desc {
  margin-top: 32px;
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.hero .social {
  position: absolute;
  bottom: 0;
  margin-top: 78px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero .social .social-media {
  display: block;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid #000;
}

.hero .social .social-media:hover {
  color: white;
  background-color: wheat;
}

/* skill */

.skill {
  padding-top: 120px;
}
.skill .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.skill .row .title {
  color: #000;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.skill span {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.skill .row-skill .column-top {
  cursor: pointer;
  margin-top: 40px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.skill .column-top .mskill {
  padding: 20px 0 20px;
  display: flex;
  width: 186px;
  height: 186px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 4px;
  border: 2px solid #000;
  background: #fff;
}
.skill .column-down {
  cursor: pointer;
  padding: 40px 0 20px;
  display: flex;
}
.skill .column-down .mskill {
  display: flex;
  width: 186px;
  height: 186px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 4px;
  border: 2px solid #000;
  background: #fff;
}
.skill .mskill:hover {
  background-color: wheat;
}

.about-me {
  padding-top: 193px;
}

.about-me .body {
  display: flex;
}

.about-me .media-block {
  width: 52%;
}

.about-me .info-block {
  row-gap: 20px;
  width: 48%;
  margin-top: 30px;
}

.about-me .info-block .title {
  color: black;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.about-me .info-block span {
  color: black;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.about-me .info-block .info-desc {
  margin-top: 40px;
}

.about-me .info-block .desc {
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 20px;
}
/* project */

.my-project {
  margin-top: 60px;
  padding: 60px 80px;
  background-color: #000;
}

.my-project .project {
  gap: 104px;
  display: flex;
  padding: 20px;
  margin-top: 20px;
}

.my-project .row-prj .title {
  text-align: center;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.my-project .row-prj {
  padding: 20px;
}
.my-project .row-prj span {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.my-project .project .image-project {
  border-radius: 20px;

  box-shadow:
    0px 12px 42px -4px rgba(24, 39, 75, 0.12),
    0px 8px 18px -6px rgba(24, 39, 75, 0.12);
  width: 530px;
  height: 397.735px;
  flex-shrink: 0;
}
.my-project .project span {
  color: #fff;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.my-project .project .title {
  margin-top: 28px;
  min-width: 582px;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.64px;
}

.my-project .project .desc {
  min-width: 582px;
  margin-top: 28px;
  color: #71717a;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.my-project .project .export {
  margin-top: 28px;
}

/* Testimonial */

.testimonial {
  padding: 60px 80px;
}
.testimonial .row-1 .title {
  text-align: center;
  color: #000;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.testimonial .row-1 span {
  color: #000;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.testimonial .row-2 {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial .row-2 .avatar {
  width: 96px;
  height: 96px;
  border-radius: 96px;
  display: block;
}

.testimonial .row-2 .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 370px;
  height: 396px;
  padding: 40px;
  gap: 24px;
  border-radius: 20px;
  background: #fff;
  box-shadow:
    0px 8px 16px -6px rgba(24, 39, 75, 0.08),
    0px 6px 8px -6px rgba(24, 39, 75, 0.12);
}

.testimonial .row-2 .desc {
  position: relative;
  color: #404040;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.32px;
  width: 290px;
}

.testimonial .row-2 .desc::after {
  position: absolute;
  bottom: -24px;
  left: 85px;
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: black;
}

.testimonial .info .author {
  margin-top: 24px;
  color: #404040;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
.testimonial .info span {
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.testimonial .row-2 .image {
  position: relative;
}
.testimonial .row-2 .vector {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Contact */

.contact {
  padding: 90px 80px;
}

.contact .contact-form {
  width: 48%;
}

.contact .info-contact {
  width: 52%;
}

.contact .body {
  display: flex;
  justify-content: space-between;
}

.contact .contact-form .name {
  display: flex;
  width: 500px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}
.contact .contact-form .email {
  margin-top: 20px;
  display: flex;
  width: 500px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.contact .contact-form .web {
  margin-top: 20px;
  display: flex;
  width: 500px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.contact .contact-form .help {
  margin-top: 20px;
  display: flex;
  width: 500px;
  height: 140px;
  padding: 16px 24px;
  align-items: center;
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.contact .contact-form .social {
  margin-top: 20px;
  gap: 24px;
  display: flex;
  align-items: center;
}

.contact .contact-form .social-media {
  display: block;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid #000;
}

.contact .contact-form .social-media:hover {
  background-color: wheat;
}

.contact .contact-form .btn {
  border-radius: 4px;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  background-color: #000;
  padding: 16px 20px;
}

.contact .info-contact .title {
  line-height: 5px;
  color: #000;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.contact .info-contact span {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.contact .info-contact .desc {
  width: 608px;
  margin-top: 20px;
  color: #71717a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contact .info-contact .email {
  margin-top: 40px;
  color: #000;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.56px;
}
.contact .info-contact .tellphone {
  margin-top: 16px;
  color: #000;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.56px;
}
.footer {
  padding: 24px 32px;
  background-color: #000;
}

.footer .body {
  padding: 0 32px;
}
.footer .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .info .cpr {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.32px;
}
.footer .info .author {
  margin-top: 12px;
  margin-left: 64px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.32px;
}
.name {
  transition: opacity 1s;
}

@media only screen and (max-width: 768px) {
  .main-content {
    width: 90%;
  }

  .hero .body {
    flex-direction: column;
  }

  .hero .body .info,
  .hero .body .media-block {
    width: 100%;
  }

  .hero .info .desc {
    margin-bottom: 100px;
  }

  .hero .media-block img {
    display: none;
  }
  .skill .row-skill {
    display: flex;
    gap: 20px;
  }
  .skill .row-skill .column-top,
  .skill .row-skill .column-down {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .media-block img {
    width: 400px;
  }
}
